# ==============================
# IDE's controls
# ==============================
.git
.gitignore
.github
.ai
.idea
.vs
.vscode
.project
.settings
.toolstarget

# ==============================
# Secrets
# ==============================
.env
.env.*

# ==============================
# build .NET
# ==============================
**/bin
**/obj
**/*.user
**/*.dbmdl
**/*.jfm

# ==============================
# Docker and local infrastructure
# ==============================
**/Dockerfile*
compose.yaml
docker-compose*
Resilient-AI-Gateway/mongo
Resilient-AI-Gateway/nginx
Resilient-AI-Gateway/ssl

# ==============================
# Documents and licenses
# ==============================
LICENSE
README.md
AGENTS.md
docs/
*.sln

# ==============================
# HF Spaces clone
# ==============================
Resilience-Ai-Gateway/

# ==============================
# Different files that should not be included in the image
# ==============================
**/node_modules
**/npm-debug.log
**/azds.yaml
**/secrets.dev.yaml
**/values.dev.yaml
**/charts